@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fbfbfb;
}

.s1 {
    width: 100%;
}

.h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.s1_img1, .s1_img2, .s1_img3, .s1_img4, .s1_img5 {
    width: 28vw;
    height: 21vw;
    display: inline-block;
    margin: 1vw;
    transition: .5s;
    position: relative;
    z-index: 3;
}


.s1_img1 {
    margin-left: 5.5vw;
}

.s1_img4 {
    margin-left: 19.5vw;
}

.s1_img1:hover, .s1_img2:hover, .s1_img3:hover, .s1_img4:hover, .s1_img5:hover {
    transform: scale(1.25,1.25);
    z-index: 50;
}

.s1_img1 {
    background: url("./images/sand_dunes/1.jpg") 50%/cover;
}

.s1_img2 {
    background: url("./images/sand_dunes/2.jpg") 50%/cover;
}

.s1_img3 {
    background: url("./images/sand_dunes/3.jpg") 50%/cover;
}

.s1_img4 {
    background: url("./images/sand_dunes/4.jpg") 50%/cover;
}

.s1_img5 {
    background: url("./images/sand_dunes/5.jpg") 50%/cover;
}

.s1_discr {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5rem;
    margin-bottom: 100px;
}