@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=cyrillic');
body {
    background: scroll url("./images/doodles.png") repeat;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
html {
    margin: 0;
    padding: 0;
    background-color: #edeef0;
}
main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    background-color: white;
    background-image: none;
    border: 1px solid rgb(201, 201, 201);
}
.mup_nav {
    display: block;
    border-radius: 3px;
    padding: 25px;
    margin: 20px auto;
    position: relative;
    color: #444;
    box-shadow: 0 0 3px 0 rgba(30,30,30,0.4)
}
.mup_nav:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: arial;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.40);
}
.mup_nav li > a {
    display: block;
    text-decoration: none;
    color: blue;
    padding: 5px;
    margin-left: 20px;
}

.mup_nav li > a:hover {
    cursor: pointer;
}
main {
    width: 980px;
    margin: 0 auto;
    font-family: 'PT Sans';
    font-size: 1.1rem;
    border-radius: 5px;
}
h1 {
    color: #333;
    font-family: 'Open Sans';
    text-align: center;
}
h2 {
    color: #333;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}
h3 {
    font-size: 1rem;
    color: #25ADC4;
}
em {
    color: #25ADC4;
    font-style: normal;
    font-weight: 600;
}
p, ul {
    ​color: #555;​
    ​line-height: 1.5rem;
}
strong {
    color: #444;
}
.m1 {
    margin-bottom: 20px;
    padding-bottom: 8px;
    margin-top: 80px;
}
.m2, .m3, .m4, .m5, .m6, .m7, .m8 {
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.m2_img, .m3_img, .m4_img, .m5_img, .m6_img, .m7_img, .m8_img {
    width: 980px;
    height: 515px;
    margin: auto;
    margin-top: 40px;
}

body > footer {
    width: 100%;
    height: 4vh;
    background: #000000;
    padding: 0.5vh 0 0.5vh;
    font-size: 2vh;
    font-family: 'Ubuntu', sans-serif;
}

body > footer > div {
    width: 100%;
    padding-top: 1vh;
    text-align: center;
    color: #474747;
    line-height: 2vh;
    display: inline-block;
}

body > footer > div > a {
    color: #dad7d6;
    text-decoration: none;
    line-height: 2vh;
    display: inline-block;
}

.menu > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 70px;
}

.pp_link {
    background: url("./icons/hills.png") 50%/cover;
    width: 55px;
    height: 55px;
    margin: auto;
    display: inline-block;
}

.hs_link {
    background: url("./icons/cabain.png") 50%/cover;
    width: 55px;
    height: 55px;
    margin: auto;
    display: inline-block;
}

.mup_link {
    background: url("./icons/pyramid.png") 50%/cover;
    width: 55px;
    height: 55px;
    margin: auto;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    margin: 0;
    z-index: 1000;
    font-size: 20px;
    height: 55px;
    width: 55px;
}

#home_a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    margin: 0;
    z-index: 1000;
    font-size: 20px;
    height: 25px;
    width: 77px;
    font-family: 'Ubuntu', sans-serif;
}

.menu {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10000;
    top: 0;
}

.home, .picturesque_place, .historical_sight, .most_unusual_places {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 2.4vh;
    height: 70px;
    float: left;
    padding-top: 7.5px;
    box-sizing: border-box;
}

.home {
    margin-left: 5%;
    padding-top: 22px;
}

#art1 {
    position: absolute;
    top: 405px;
}
#art2 {
    position: absolute;
    top: 1335px;
}
#art3 {
    position: absolute;
    top: 2195px;
}
#art4 {
    position: absolute;
    top: 3080px;
}
#art5 {
    position: absolute;
    top: 4140px;
}
#art6 {
    position: absolute;
    top: 5205px;
}
#art7 {
    position: absolute;
    top: 6420px;
}

#art11 {
    position: absolute;
    top: 340px;
}

#art21 {
    position: absolute;
    top: 1590px;
}

#art31 {
    position: absolute;
    top: 2590px;
}

#art41 {
    position: absolute;
    top: 3580px;
}

#art51 {
    position: absolute;
    top: 4595px;
}

.all_images {
    width: 298px;
    height: 234px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.5s;
    position: relative;
    z-index: 3;
}

.all_images:hover {
    transform: scale(1.25, 1.25);
    z-index: 50;
}

#m2_img1 {background: url("./images/sd/sd1.jpg") 50%/cover;}
#m2_img2 {background: url("./images/sd/sd2.jpg") 50%/cover;}
#m2_img3 {background: url("./images/sd/sd3.jpg") 50%/cover;}
#m2_img4 {background: url("./images/sd/sd4.jpg") 50%/cover;}
#m2_img5 {background: url("./images/sd/sd5.jpg") 50%/cover;}
#m2_img6 {background: url("./images/sd/sd6.jpg") 50%/cover;}
#m3_img1 {background: url("./images/porto/1.jpg") 50%/cover;}
#m3_img2 {background: url("./images/porto/2.jpg") 50%/cover;}
#m3_img3 {background: url("./images/porto/3.jpg") 50%/cover;}
#m3_img4 {background: url("./images/porto/4.jpg") 50%/cover;}
#m3_img5 {background: url("./images/porto/5.jpg") 50%/cover;}
#m3_img6 {background: url("./images/porto/6.jpg") 50%/cover;}
#m4_img1 {background: url("./images/gol/1.jpg") 50%/cover;}
#m4_img2 {background: url("./images/gol/2.jpg") 50%/cover;}
#m4_img3 {background: url("./images/gol/3.jpg") 50%/cover;}
#m4_img4 {background: url("./images/gol/4.jpg") 50%/cover;}
#m4_img5 {background: url("./images/gol/5.jpg") 50%/cover;}
#m4_img6 {background: url("./images/gol/6.png") 50%/cover;}
#m5_img1 {background: url("./images/rf/1.jpg") 50%/cover;}
#m5_img2 {background: url("./images/rf/2.jpg") 50%/cover;}
#m5_img3 {background: url("./images/rf/3.jpg") 50%/cover;}
#m5_img4 {background: url("./images/rf/4.jpg") 50%/cover;}
#m5_img5 {background: url("./images/rf/5.jpg") 50%/cover;}
#m5_img6 {background: url("./images/rf/6.jpg") 50%/cover;}
#m6_img1 {background: url("./images/kt/1.jpg") 50%/cover;}
#m6_img2 {background: url("./images/kt/2.jpg") 50%/cover;}
#m6_img3 {background: url("./images/kt/3.jpg") 50%/cover;}
#m6_img4 {background: url("./images/kt/4.jpg") 50%/cover;}
#m6_img5 {background: url("./images/kt/5.jpg") 50%/cover;}
#m6_img6 {background: url("./images/kt/6.jpg") 50%/cover;}
#m7_img1 {background: url("./images/zg/1.jpg") 50%/cover;}
#m7_img2 {background: url("./images/zg/2.jpg") 50%/cover;}
#m7_img3 {background: url("./images/zg/3.jpg") 50%/cover;}
#m7_img4 {background: url("./images/zg/4.jpg") 50%/cover;}
#m7_img5 {background: url("./images/zg/5.jpg") 50%/cover;}
#m7_img6 {background: url("./images/zg/6.jpg") 50%/cover;}
#m8_img1 {background: url("./images/yar/1.png") 50%/cover;}
#m8_img2 {background: url("./images/yar/2.jpg") 50%/cover;}
#m8_img3 {background: url("./images/yar/3.JPG") 50%/cover;}
#m8_img4 {background: url("./images/yar/4.jpg") 50%/cover;}
#m8_img5 {background: url("./images/yar/5.jpg") 50%/cover;}
#m8_img6 {background: url("./images/yar/6.jpg") 50%/cover;}
#hs_m2_img1 {background: url("./images/dub/1.jpg") 50%/cover;}
#hs_m2_img2 {background: url("./images/dub/2.jpg") 50%/cover;}
#hs_m2_img3 {background: url("./images/dub/3.jpg") 50%/cover;}
#hs_m2_img4 {background: url("./images/dub/4.jpg") 50%/cover;}
#hs_m2_img5 {background: url("./images/dub/5.jpg") 50%/cover;}
#hs_m2_img6 {background: url("./images/dub/6.jpg") 50%/cover;}
#hs_m3_img1 {background: url("./images/zhiv/1.jpg") 50%/cover;}
#hs_m3_img2 {background: url("./images/zhiv/2.jpg") 50%/cover;}
#hs_m3_img3 {background: url("./images/zhiv/3.jpg") 50%/cover;}
#hs_m3_img4 {background: url("./images/zhiv/4.jpg") 50%/cover;}
#hs_m3_img5 {background: url("./images/zhiv/5.jpg") 50%/cover;}
#hs_m3_img6 {background: url("./images/zhiv/6.jpg") 50%/cover;}
#hs_m4_img1 {background: url("./images/la/1.jpg") 50%/cover;}
#hs_m4_img2 {background: url("./images/la/2.jpg") 50%/cover;}
#hs_m4_img3 {background: url("./images/la/3.jpg") 50%/cover;}
#hs_m4_img4 {background: url("./images/la/4.jpg") 50%/cover;}
#hs_m4_img5 {background: url("./images/la/5.jpeg") 50%/cover;}
#hs_m4_img6 {background: url("./images/la/6.jpg") 50%/cover;}
#hs_m5_img1 {background: url("./images/ar/1.jpg") 50%/cover;}
#hs_m5_img2 {background: url("./images/ar/2.jpg") 50%/cover;}
#hs_m5_img3 {background: url("./images/ar/3.jpg") 50%/cover;}
#hs_m5_img4 {background: url("./images/ar/4.jpeg") 50%/cover;}
#hs_m5_img5 {background: url("./images/ar/5.jpg") 50%/cover;}
#hs_m5_img6 {background: url("./images/ar/6.jpg") 50%/cover;}
#hs_m6_img1 {background: url("./images/kh/1.jpg") 50%/cover;}
#hs_m6_img2 {background: url("./images/kh/2.jpeg") 50%/cover;}
#hs_m6_img3 {background: url("./images/kh/3.jpg") 50%/cover;}
#hs_m6_img4 {background: url("./images/kh/4.jpeg") 50%/cover;}
#hs_m6_img5 {background: url("./images/kh/5.jpg") 50%/cover;}
#hs_m6_img6 {background: url("./images/kh/6.jpg") 50%/cover;}